services:                        

  poll:                           
    build: ./poll                  
    ports:
      - "5000:80"                  
    environment:
      - REDIS_HOST=redis           
      - REDIS_PORT=6379            
    networks:
      - poll-tier                 
      - back-tier                 

  redis:                           
    image: redis:7.0-alpine        
    ports:
      - "6379:6379"                
    networks:
      - back-tier                  

  worker:                          
    build: ./worker                
    environment:
      - REDIS_HOST=redis           
      - REDIS_PORT=6379
      - POSTGRES_HOST=db           
      - POSTGRES_PORT=5432
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - back-tier

  db:                              
    image: postgres:15.4-alpine    
    environment:
      - POSTGRES_DB=${POSTGRES_DB}       
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro
    networks:
      - back-tier

  result:                          
    build: ./result               
    ports:
      - "5001:80"                  
    environment:
      - POSTGRES_HOST=db           
      - POSTGRES_PORT=5432
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - back-tier
      - result-tier

volumes:
  db-data:                         

networks:
  poll-tier:                       
  result-tier:
  back-tier: